.Cart {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.CartIcon {
  margin-right: 0.5rem;
}

.Header {
  padding: 1rem 0;

  font-size: 1.2em;

  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.HeaderContent {
  align-items: center;
  display: flex;
}
